# Fichiers générés automatiquement
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Répertoire de dépendances Python
venv_concevoir_le_cadre_technique_d_une_app_IA
venv/

# Fichiers et répertoires spécifiques à votre éditeur/IDE
.idea/
.vscode/
